doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (foo) {
        bar(1 + 5)
      }
    // build:css style/main.css
    link(rel="stylesheet" href="style/main.css")
    // bower:css
    // endbower
    // endbuild

  body
    h1 Jade - node template engine
    #container.col
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features..
    // build:js scripts/main.js
    // bower:js
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='../bower_components/modernizr/modernizr.js')
    script(src='../bower_components/fastclick/lib/fastclick.js')
    script(src='../bower_components/jquery.cookie/jquery.cookie.js')
    script(src='../bower_components/jquery-placeholder/jquery.placeholder.js')
    script(src='../bower_components/foundation/js/foundation.js')
    // endbower
    // endbuild

